# Jesus Arath Gonzalez Maldonado
## Estructuras Y Organizacion De Datos

### La Funcion Print

In [42]:
x= 10
C= 5
print("\nLa variable x tiene el valor de : ",x)

print("\nLa variable c tiene un valor de",C)

print("\nEl valor de x es:",x, "\nY el valor de c es: ",C)

print("\nhola Mundo")

print("\nAnimo, tu puedes programador")

La variable x tiene el valor de :  10

La variable c tiene un valor de 5

El valor de x es: 10
Y el valor de c es:  5

hola Mundo

Animo, tu puedes programador

In [43]:
#Usamos el parametro "end" para especificar cual es el terminador
#de linea en una instruccion print
print("El valor de x es:",x, end=' *****')
print(" Y el valor de c es:",C)

El valor de x es: 10 ***** Y el valor de c es: 5

In [44]:
#Especificar el texto que separa los argumentos de la funcion print
#parameto "sep"
print("El valor de x es",x, sep='=')
print("Y el valor de c es",C, sep='=')

El valor de x es=10
Y el valor de c es=5

In [46]:
#Especificar separador de argumentos y el terminador de lineas
print('El Valor De x es', x , sep='=>', end='\n\n\n')
print('El valor de \'c\' es',C)

El Valor De x es=>10


El valor de 'c' es 5

### Literales

In [31]:
x= 11500000
x= 115.58
x= "texto"
print(x)

texto

In [5]:
#numeros con separadores de miles
x= 11_000_000
y=8
print(x*y)

88000000

In [14]:
##Valores Octales
a= 0o1234
print(a)

668

In [15]:
##Valores hexadicimal
b= 0x1234
print(b)

4660

In [12]:
z=.5
print(z)

0.5

In [8]:
vl= 30000000
vl2= 3.1e8
print(vl,vl2)

30000000 310000000.0

In [5]:
w= 0.08e5
print(w)

8000.0

In [34]:
M= "I'm Batman"
print(M)

I'm Batman

In [9]:
print("***************")

***************

In [12]:
print("F " * 50)

F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F

# Operadores

In [13]:
##Exponenciacion
print(3**5)

243

In [14]:
##Multiplicacion
print(3*3.)

9.0

In [18]:
##Division
print(10/2)

5

In [20]:
##Division Entera
print(6//3)

2

In [21]:
##Modulo
print(9%2)

1

In [23]:
##Suma
print(+2)

2

In [25]:
##Prioridad de las operaciones
print((2 + 3) * 5)

25

In [29]:
print(2 ** 2 ** 3)

256

In [32]:
##Variables
x=123
x="Hola raza"

In [ ]:
TRue= 1
true=1
True

In [33]:
Import=1

In [34]:
cualquier_variable=1
print(cualquier_variable)

1

In [38]:
x=5
x= x ** 3
print(x)

125

In [39]:
##Simplificacion de operaciones

x= 5
x**= 3
print(x)

125