# Jesus Arath Gonzalez Maldonado
## Estructuras Y Organizacion De Datos

### La Funcion Print

In [18]:
X= 10
C= 5
print("\nLa variable x tiene el valor de : ",X)

print("\nLa variable c tiene un valor de",C)

print("\nEl valor de x es:",X, "\nY el valor de c es: ",C)

print("\nhola Mundo")

print("\nAnimo, tu puedes programador")

La variable x tiene el valor de :  10

La variable c tiene un valor de 5

El valor de x es: 10
Y el valor de c es:  5

hola Mundo

Animo, tu puedes programador

In [19]:
#Usamos el parametro "end" para especificar cual es el terminador
#de linea en una instruccion print
print("El valor de x es:",X, end=' *****')
print(" Y el valor de c es:",C)

El valor de x es: 10 ***** Y el valor de c es: 5

In [20]:
#Especificar el texto que separa los argumentos de la funcion print
#parameto "sep"
print("El valor de x es",X, sep='=')
print("Y el valor de c es",C, sep='=')

El valor de x es=10
Y el valor de c es=5

In [21]:
#Especificar separador de argumentos y el terminador de lineas
print('El Valor De x es', X , sep='=>', end='\n\n\n')
print('El valor de \'c\' es',C)

El Valor De x es=>10


El valor de 'c' es 5

### Literales

In [31]:
x= 11500000
x= 115.58
x= "texto"
print(x)

texto

In [5]:
#numeros con separadores de miles
x= 11_000_000
y=8
print(x*y)

88000000

In [14]:
##Valores Octales
a= 0o1234
print(a)

668

In [15]:
##Valores hexadicimal
b= 0x1234
print(b)

4660

In [12]:
z=.5
print(z)

0.5

In [8]:
vl= 30000000
vl2= 3.1e8
print(vl,vl2)

30000000 310000000.0

In [5]:
w= 0.08e5
print(w)

8000.0

In [34]:
M= "I'm Batman"
print(M)

I'm Batman

In [9]:
print("***************")

***************

In [1]:
print("F " * 100)

F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F

# Operadores

In [13]:
##Exponenciacion
print(3**5)

243

In [14]:
##Multiplicacion
print(3*3.)

9.0

In [18]:
##Division
print(10/2)

5

In [20]:
##Division Entera
print(6//3)

2

In [21]:
##Modulo
print(9%2)

1

In [23]:
##Suma
print(+2)

2

In [25]:
##Prioridad de las operaciones
print((2 + 3) * 5)

25

In [29]:
print(2 ** 2 ** 3)

256

In [32]:
##Variables
x=123
x="Hola raza"

In [ ]:
##True
TRue= 1
true=1
True

In [33]:
Import=1

In [34]:
cualquier_variable=1
print(cualquier_variable)

1

In [38]:
##Potencia
x=5
x= x ** 3
print(x)

125

In [39]:
##Simplificacion de operaciones

x= 5
x**= 3
print(x)

125

In [11]:
##Entrada De Datos input
algo= input("Dime algo, ")
print("mmmm...", algo,"....¿En Serio!!?")

Dime algo, tuve accidente
mmmm... tuve accidente ....¿En Serio!!?

In [16]:
x= int(input("Dame un numero para multiplicar "))
f=x//5
print(f)

Dame un numero para multiplicar 10
2

In [24]:
cateto_a= float(input("Inserta La Longitud Del Primer Cateto: "))
cateto_b= float(input("Inserta La Longitud Del Segundo Cateto: "))
hipo= (cateto_a**2+cateto_b**2)
print(hipo)

Inserta La Longitud Del Primer Cateto: 15
Inserta La Longitud Del Segundo Cateto: 19
586.0

In [4]:
nom= input("Me puedes dar tus nombre por favor:? ")
ape= input("Me puedes Dar Tus Apellido por favor:? ")
print("Gracias")
print("\nTu nombre es "+nom+" "+ape+".")

Me puedes dar tus nombre por favor:? Jesus Arath
Me puedes Dar Tus Apellido por favor:? Gonzalez Maldonado
Gracias

Tu nombre es Jesus Arath Gonzalez Maldonado.

In [23]:
print("2"*5)
print(2*5)

22222
10

In [22]:
## if-else
a= 2500
b= 12500
if b>a:
    print("b es mayor que a")
    print("b vale =>", b)
else:
    print("a es mayor que b")
    print("a vale =>", a)
print("Fin del if")

b es mayor que a
b vale => 12500
Fin del if

In [23]:
##if-elif-else
a= 3000
b= 3000
if b>a:
    print("b es mayor que a")
    print("b vale =>", b)
elif a==b:
    print("a es igual que b")
    print("a y b valen =>", a)
else:
    print("a es mayor que b")
    print("a vale =>", a)
print("Fin del if")

a es igual que b
a y b valen => 3000
Fin del if

In [27]:
# if y if.. else en version corta o simplificada
x=20
y=30

print("y es menor que x") if x > y else print("x es mayor que y")

x es mayor que y

In [48]:
#ciclo while
i=1
while i <= 1000:
    print(i)
    print("elefantes")
    if i==10:
        print("\nEntro al if")
        break
    i+=1    
print("\nFuera de while")

1
elefantes
2
elefantes
3
elefantes
4
elefantes
5
elefantes
6
elefantes
7
elefantes
8
elefantes
9
elefantes
10
elefantes

Entro al if

Fuera de while

In [10]:
## ciclo for rango inicial y final
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [7]:
## Si no se especifica un rango inicial iniciara desde 0
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
## indicando un valor de incremento por cada repeticion o iteracion
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

In [12]:
## Lista de valores
frutas= ["naranja", "platano", "Sandia", "Papaya"]
numeros= [1, 2, 3, 4, 98]
for x in numeros:
    print(x)
    if x == "papaya":
        break

1
2
3
4
98

In [16]:
##Multiplicar un numero 
numero= int(input("Digite el numero a multiplicar "))
for i in range(1,21):
    print(valor, "X", i, "=", valor*i)

Digite el numero a multiplicar 10
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
8 X 13 = 104
8 X 14 = 112
8 X 15 = 120
8 X 16 = 128
8 X 17 = 136
8 X 18 = 144
8 X 19 = 152
8 X 20 = 160

In [1]:
x= 1/1
print(x)

1.0